* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gotha';
}

#main {
    width: 100%;
    height: 50px;
    background-color: #414654;
    color: #c5c9cb;
}

.navbar {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_heading a {
    text-decoration: none;
    color: #c5c9cb;
    font-size: 22px;
    font-weight: 600;
}

.navbar_links {
    width: 50%;
    text-align: right;
}

.navbar_links li {
    display: inline;
    list-style: none;
    margin-left: 1.3%;
}

.navbar_links li a {
    text-decoration: none;
    color: #c5c9cb;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3px;
}

.navbar_links li:last-child a {
    padding: 1%;
    background-color: #02bfa0;
    color: white;
}


/* Login styling  */
#login {
    padding: 3% 0;
    background-color: #f6f7f9;
    width: 100%;
    height: 600px;
}

#login_details {
    width: 24.5%;
    height: 100%;
    margin: auto;
    text-align: center;
}

#login h2 {
    margin: 3% 0;
    margin-bottom: 5%;
    color: #40454A;
}

#login p {
    color: #4A5056;
    margin-bottom: 10%;
}

#login_links {
    width: 100%;
}

#login_links div {
    width: 100%;
    padding: 12px 0;
    background-color: #0B84BD;
    color: white;
    margin: 4% 0;
    border-radius: 3px;
    text-align: center;
}

#login_links div a {
    text-decoration: none;
    color: white;
}

#login_links div:last-child {
    background-color: #dd4b39;
}

fieldset {
    padding: 0;
    min-width: 0;
    margin: 8% 0;
    border: 0;
    border-top: 1px solid #D1D1D1;
}

legend {
    padding: 0 5%;
    color: #9e9d9d;
}

form>div {
    text-align: left;
}

form>div label {
    width: 100%;
    color: rgb(88, 88, 88);
    font-size: 14px;
}

form>div input {
    padding: 0 2%;
    color: rgb(65, 64, 64);
    font-size: 14px;
    height: 38px;
    margin-top: 2%;
    margin-bottom: 5%;
    outline: none;
    border: none;
    border: 1px solid rgba(160, 160, 160, 0.438);
    width: 100%;
    border-radius: 3px;
}

form>div input:focus {
    border: 1px solid rgba(0, 0, 255, 0.514);
}

form input[type='submit'] {
    background-color: #02BFA0;
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
    font-weight: 500;
}

.link_tag {
    text-decoration: none;
    color: #0090CC;
}

/* footer styling  */

#footer {
    width: 100%;
    height: 180px;
    background-color: #f6f7f9;
    border-top: 1px solid #a8a8a87c;
    padding: 3% 0;
}

#ins_footer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#ins_footer>div>p:first-child {
    margin-bottom: 2%;
    font-weight: 500;
    /* color: rgba(0, 0, 0, 0.822); */
    color: rgb(75, 75, 75);
}

#ins_footer>div>p:not(:first-child) {
    color: gray;
    line-height: 22px;
    word-spacing: 2px;
    letter-spacing: 0.2px;
}

#img_link {
    margin-top: 6%;
}

#img_link>a {
    margin-right: 6%;
}

#img_link>a i {
    color: #8A8A8A;
    font-size: 22px;
}