* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham SSm A", "Gotham SSm B";
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* Navbar styling  */
#main {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #414654;
    color: #c5c9cb;
}

.navbar {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_heading a {
    text-decoration: none;
    color: #c5c9cb;
    font-size: 22px;
    font-weight: 600;
}

.navbar_links {
    width: 60%;
    text-align: right;
}

.navbar_links li {
    display: inline;
    list-style: none;
    margin-left: 4%;
}

.navbar_links li a {
    text-decoration: none;
    color: #c5c9cb;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3px;
}

.navbar_links li:first-child a {
    padding: 1%;
    background-color: #02bfa0;
    color: white;
}

.navbar_links li.active a {
    color: white !important;
}

.navbar_links li a:hover {
    color: white !important;
}

/* content part  */
#main2 {
    padding-top: 50px;
    width: 100%;
    height: 680px;
    background-color: #f1f1f1;
}

#inside {
    height: 100%;
    width: 27%;
    padding: 3% 1%;
    margin: auto;
}

#inside h1 {
    text-align: center;
    color: #4A5056;
    font-size: 20px;
    margin-bottom: 8%;
}

#inside>div label {
    width: 100%;
    color: rgb(88, 88, 88);
    font-size: 15px;
    font-weight: 550;
}

#inside>div input {
    padding: 0 4%;
    color: rgba(65, 64, 64, 0.89);
    letter-spacing: 0.6px;
    font-size: 15px;
    height: 37px;
    margin-top: 2%;
    margin-bottom: 5%;
    outline: none;
    border: none;
    border: 1px solid rgba(160, 160, 160, 0.438);
    width: 100%;
    border-radius: 4px;
}

#inside>div input:focus {
    border: 0.5px solid #0090CC;
}

#inside>input {
    margin-top: 12px;
}

#inside .agree_p {
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(68, 68, 68);
    line-height: 24px;
    text-align: left !important;
}

#inside .sub {
    text-align: center;
    margin-top: 4%;
}

#inside input[type='submit'] {
    width: 100%;
    background-color: #02BFA0;
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
    font-weight: 500;
    border-bottom: 3px solid #0298A2;
}

#inside input[type='submit']:hover {
    background-color: #04aa8e;
}

.link_tag {
    text-decoration: none;
    color: #0090CC;
}

.link_tag:hover {
    color: #23527C !important;
    text-decoration: underline !important;
}

/* footer styling  */
#footer {
    width: 100%;
    height: 180px;
    background-color: #f1f1f1;
    border-top: 1px solid #a8a8a87c;
    padding: 3% 0;
}

#ins_footer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


#ins_footer>div>p:first-child {
    margin-bottom: 2%;
    font-weight: 500;
    color: rgb(75, 75, 75)
}

#ins_footer>div>a:not(:first-child) {
    text-decoration: none;
    color: gray;
}

#ins_footer>div>p:not(:first-child) {
    line-height: 22px;
    word-spacing: 2px;
    letter-spacing: 0.2px;
}

#ins_footer a:hover {
    text-decoration: underline !important;
}

#img_link {
    margin-top: 6%;
}

#img_link>a {
    margin-right: 5%;
}

#img_link>a i {
    color: #8A8A8A;
    font-size: 22px;
}